<!DOCTYPE html>
<html>
<head>
	<title>mosaic visualization of P100</title>
</head>
<body>

<!-- Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- D3 -->
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>

<!-- D3-tip -->
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<!-- <script src="p100mosaic/static/Caged-d3-tip-07cf158/index.js"></script> -->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme for Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="p100mosaic/static/css/style.css">

<!-- Mosaic visualizer functions -->
<script type="text/javascript" src="p100mosaic/static/mosaic/visualizer.js"></script>

<script type="text/javascript">

// GLOBAL VARIABLES
// -----------------------------------------------
var p100_data = {};  // data for p100, including .meta_col .meta_row .signatures .layout .cell_order .pert_order
var gcp_data = {};   // data for GCP

var pert_class;
var gene_lists;

var sticky_top;  // global sticky top, pixel offset. For scrolling sidebar

// SVG canvas dimension
var tile_dim_px = 50;


// Global visualization options
var colorScale = d3.scale.linear()
	    .domain([-2.5, 0, 2.5])
	    // .domain([-5, 0, 5])
	    .clamp(true)  // color scale is clammed to boundary if values are out of range
	    .range(["rgb(33,102,172)", "rgb(247,247,247)", "rgb(178,24,34)"]);  // RdBu from Colorbrewer	

var colorScale2 = d3.scale.linear()
	    .domain([-2.5, 0, 2.5])
	    // .domain([-5, 0, 5])
	    .clamp(true)  // color scale is clammed to boundary if values are out of range
	    .range(["rgb(118,42,131)", "rgb(247,247,247)", "rgb(27,120,55)"]);  // RdBu from Colorbrewer	

var monoScale = d3.scale.linear()
	.domain([0.0, 10.0])
	.clamp(true)
	.range(["rgb(255,255,255)", "rgb(0,0,0)"]);


// Tip elements used by D3-tip
var tileTip = d3.tip()
    .attr("class", "d3-tip")
    .offset([-6, 0])
    .html(function(d) {return d;});

var attrTip = d3.tip()
	.attr("class", "d3-tip")
	.offset([-1, 6])
	.direction("e")
	.html(function(d) {
		var html = "";
		for (var key in d) {
			html += key + ": " + d[key] + "<br>";
		}
		return html;
	});


// Construct sidebar with provided canvas dimension in pixels.
function makeSidebar(tile_dim_px) {
	// Construct sidebar panel
	var sidebar = d3.select("#sidebar");

	sidebar.append("h3").html("Selection");

	sidebar.append("h4").html("Cell line");

	sidebar.append("div")
		.attr("id", "cell_panel")
		.attr("class", "panel-dark")
		.html("none");

	sidebar.append("h4").html("Perturbation");

	sidebar.append("div")
		.attr("id", "pert_panel")
		.attr("class", "panel-dark")
		.html("none");

	// P100 selection panel
	sidebar.append("h4").html("P100");

	// Canvas of output from Network2Canvas
	var p100_svg_legend = sidebar.append("div")
			.attr("class", "border-container")
			.append("svg")
				.attr("width", tile_dim_px)
				.attr("height", tile_dim_px)
				.attr("class", "grid");

	// SVG legend grid
	p100_svg_legend.selectAll(".cell")
		.data(buildGridData(p100_data.layout.weights, order=d3.range(p100_data.layout.weights.length), tile_dim_px))
		.enter().append("svg:rect")
		.attr("class", "legend")
		.attr("id", function(d) {return("legend_1_" + getColumn(p100_data.meta_row, "id").indexOf(p100_data.layout.texts[d.feature_id]));})
		.attr("x", function(d) {return(d.x);})
		.attr("y", function(d) {return(d.y);})
		.attr("width", function(d) {return(d.size);})
		.attr("height", function(d) {return(d.size);})
		.style("fill", function(d) {
				if (isNaN(d.num)) {
					return "white";
				} else {
					return(monoScale(d.num));
				}
			}
		)
		.on("click", function(d) {
			// get probe id
			var id = p100_data.layout.texts[d.feature_id]


			// Look up metadata 
			var meta_k = getColumn(p100_data.meta_row, "id").indexOf(id);

			// update panel
			d3.select("#meta_panel1").html(
				p100_data.meta_row[meta_k + 1][2] + "<br>" +
				p100_data.meta_row[meta_k + 1][8]);

			// Unselect all other selections
			d3.selectAll(".selected")
				.classed("selected", false)
				.attr("style", function(d) {
					return("fill: " + monoScale(d.num) + ";");
				});

			// Select square
			d3.selectAll("#legend_1_" + meta_k)
				.classed("selected", true)
				.attr("style", function(d) {
					return("fill: rgb(31,120,180);")
				});
		});

	// Sidebar panel for meta data
	sidebar.append("div")
		.attr("id", "meta_panel1")
		.attr("class", "panel-dark")
		.html("meta info");

	// GCP selection panel
	sidebar.append("h4").html("GCP");

	var gcp_svg_legend = sidebar.append("div")
		.attr("class", "border-container")
		.append("svg")
			.attr("width", tile_dim_px)
			.attr("height", tile_dim_px)
			.attr("class", "grid");

	// GCP legend grid
	gcp_svg_legend.selectAll(".cell")
		.data(buildGridData(gcp_data.layout.weights, order=d3.range(gcp_data.layout.weights.length), tile_dim_px))

		.enter().append("svg:rect")
		.attr("class", "legend")
		.attr("id", function(d) {return("legend_2_" + getColumn(gcp_data.meta_row, "id").indexOf(gcp_data.layout.texts[d.feature_id]));})
		.attr("x", function(d) {return(d.x);})
		.attr("y", function(d) {return(d.y);})
		.attr("width", function(d) {return(d.size);})
		.attr("height", function(d) {return(d.size);})
		.style("fill", function(d) {
				if (isNaN(d.num)) {
					return "white";
				} else {
					return(monoScale(d.num));
				}
			}
		)
		.on("click", function(d) {
			// get probe id
			var id = gcp_data.layout.texts[d.feature_id]

			// Look up metadata 
			var meta_k = getColumn(gcp_data.meta_row, "id").indexOf(id);

			// update panel
			d3.select("#meta_panel2").html(
				gcp_data.meta_row[meta_k + 1][3]);

			// Unselect all other selections
			d3.selectAll(".selected")
				.classed("selected", false)
				.attr("style", function(d) {
					return("fill: " + monoScale(d.num) + ";");
				});

			// Select square
			d3.selectAll("#legend_2_" + meta_k)
				.classed("selected", true)
				.attr("style", function(d) {
					// return("fill: " + monoScale(d.num) + "; stroke: black; stroke-width: 2px;")
					return("fill: rgb(162,78,163);")
				});
		});

	sidebar.append("div")
		.attr("id", "meta_panel2")
		.attr("class", "panel-dark")
		.html("meta info");

	// P100 filter
	// sidebar.append("h4").html("P100 filter");
	// sidebar.append("select")
	// 	.attr("id", "gene-selector")
	// 	.attr("name", "gene_list")
	// 	.attr("onchange", "geneSelector(this)")
	// 	;

	// // Populate gene list selectors
	// var selector = $("#gene-selector");
	// selector.append($("<option>")
	// 	.attr("value", -1)
	// 	.text("No filter"));
	// for (var i = 0; i < gene_lists.length; i++) {
	// 	selector.append($("<option>")
	// 		.attr("value", i)
	// 		.text(gene_lists[i][0]));
	// }
}

$(document).ready(function() {
	// Load all data from server using AJAX requests

	// Sample meta data
	$.ajax({
		type: "GET",
		url: "p100mosaic/static/data/p100_meta_col_mean.csv",
		dataType: "text",
		success: function(data) {
			p100_data.meta_col = parseCsv(data);
		}
	});

	// Feature meta data
	$.ajax({
		type: "GET",
		url: "p100mosaic/static/data/p100_meta_row_mean.csv",
		dataType: "text",
		success: function(data) {
			p100_data.meta_row = parseCsv(data);
		}
	});

	// Get signatures as array of array. Data matrix is transposed Data matrix is transposed
	$.ajax({
		type: "GET",
		url: "p100mosaic/static/data/p100_zscore_mean.csv",
		dataType: "text",
		success: function(data) {
			p100_data.signatures = parseCsv(data, Number);  // converts string to number
		}
	});

	// Get tile order from Network2Canvas
	// layout.text is a sequential layout specification with base sqrt(n)
	$.ajax({
		type: "GET",
		url: "p100mosaic/static/data/p100_cor_mat_long.json",
		// url: "p100mosaic/static/data/p100_abs_cor_mat_short.json",
		dataType: "text",
		success: function(data) {
			p100_data.layout = JSON.parse(data);
		}
	});

	// Get the perurbation order
	$.ajax({
		type: "GET",
		url: "p100mosaic/static/data/comb_pert_order.txt",
		dataType: "text",
		success: function(data) {
			p100_data.pert_order = data.split("\n").filter(function(x) {return x !== ""});
		}
	});

	// Get cell line order
	$.ajax({
		type: "GET",
		url: "p100mosaic/static/data/comb_cell_order.txt",
		dataType: "text",
		success: function(data) {
			p100_data.cell_order = data.split("\n").filter(function(x) {return x !== ""});
		}
	});


	// GCP
	// -------------------------
	// Get signature meta data
	// Sample meta data
	$.ajax({
		type: "GET",
		url: "p100mosaic/static/data/gcp_meta_col_mean.csv",
		dataType: "text",
		success: function(data) {
			gcp_data.meta_col = parseCsv(data);
		}
	});

	// Feature meta data
	$.ajax({
		type: "GET",
		url: "p100mosaic/static/data/gcp_meta_row_mean.csv",
		dataType: "text",
		success: function(data) {
			gcp_data.meta_row = parseCsv(data);
		}
	});

	// Get signatures as array of array. Data matrix is transposed Data matrix is transposed
	$.ajax({
		type: "GET",
		url: "p100mosaic/static/data/gcp_zscore_mean.csv",
		dataType: "text",
		success: function(data) {
			gcp_data.signatures = parseCsv(data, Number);  // converts string to number
		}
	});

	// Get tile order from Network2Canvas
	// layout.text is a sequential layout specification with base sqrt(n)
	$.ajax({
		type: "GET",
		url: "p100mosaic/static/data/gcp_cor_mat_long.json",
		// url: "p100mosaic/static/data/p100_abs_cor_mat_short.json",
		dataType: "text",
		success: function(data) {
			gcp_data.layout = JSON.parse(data);
		}
	});

	// Get the perurbation order
	$.ajax({
		type: "GET",
		url: "p100mosaic/static/data/gcp_pert_order.txt",
		dataType: "text",
		success: function(data) {
			gcp_data.pert_order = data.split("\n").filter(function(x) {return x !== ""});
		}
	});

	// Get cell line order
	$.ajax({
		type: "GET",
		url: "p100mosaic/static/data/gcp_cell_order.txt",
		dataType: "text",
		success: function(data) {
			gcp_data.cell_order = data.split("\n").filter(function(x) {return x !== ""});
		}
	});


	// Perturbation class
	$.ajax({
		type: "GET",
		url: "p100mosaic/static/data/pert_class.csv",
		dataType: "text",
		success: function(data) {
			pert_class = parseCsv(data);
			// data.split("\n").filter(function(x) {return x !== ""});
		}
	});

	// GMT pathway data
	$.ajax({
		type: "GET",
		// url: "p100mosaic/static/gmt/c2.cp.v5.0.symbols.gmt",
		// url: "p100mosaic/static/gmt/c4.cgn.v5.0.symbols.gmt",
		url: "p100mosaic/static/gmt/NCI-Nature.gmt",
		// url: "p100mosaic/static/gmt/WikiPathways_2015.gmt",
		// url: "p100mosaic/static/gmt/c5.mf.v5.0.symbols.gmt",
		dataType: "text",
		success: function(data) {
			gene_lists = parseGmt(data);
		}
	});
});

// After all data has loaded, this function is called
$(document).ajaxStop(function() {
	// Construct sidebar
	makeSidebar(2 * tile_dim_px);  // uses global variables p100_data and gcp_data

	// Get feature order from Network2Canvas
	var p100_feature_ids = getColumn(p100_data.meta_row, "id");  // of data
	var gcp_feature_ids = getColumn(gcp_data.meta_row, "id");

	// The order is allowed to contain duplicates
	var p100_order = p100_data.layout.texts.map(function(id) {
		return p100_feature_ids.indexOf(id);
	});

	var gcp_order = gcp_data.layout.texts.map(function(id) {
		return gcp_feature_ids.indexOf(id);
	})

	// // find the minimum and maximum data value to determine the color scale
	// var num_min = Math.min.apply(Math,
	// 	signatures
	// 		.flatten()
	// 		.filter(function(x) {return !isNaN(x);})  // remove missing values
	// 	);

	// var num_max = Math.max.apply(Math,
	// 	signatures
	// 		.flatten()
	// 		.filter(function(x) {return !isNaN(x);})  // remove missing values
	// 	);

	// Determine the coordinate categories and values from the metadata. Shortcuts.
	var p100_cell_ids = getColumn(p100_data.meta_col, "cell_id");
	var p100_pert_ids = getColumn(p100_data.meta_col, "pert_id");

	var gcp_cell_ids = getColumn(gcp_data.meta_col, "cell_id");
	var gcp_pert_ids = getColumn(gcp_data.meta_col, "pert_id");

	// Populate table of svg canvases.
	var svg_table = $("#svg-table");

	// Cell labels in headers
	var header = $("<tr>").appendTo(svg_table.append($("<thead>")));

	// svg_table
	header.append($("<th>"));  // empty
	for (var i = 0; i < p100_data.cell_order.length; i++) {
		header.append($("<th>").text(p100_data.cell_order[i]));
	}
	header.append($("<th>").text("cluster"));

	// MAIN VISUALIZATION LOOP
	// -------------------------------------------------------------
	// Loop over every experimental condition, outer loop.
	for (var i = 0; i < p100_data.pert_order.length; i++) {
		var pert_sel = p100_data.pert_order[i];

		// Look up metadata for perturbation id
		var pert_meta_data = getPertMetaData(p100_data.meta_col, pert_sel);

		// add new row to table
		var row = $("<tr>")
			.appendTo(svg_table);

		// Bind data to row
		d3.selectAll(row)
			.datum(pert_sel)
			.on("click", function(d) {
				// Look up id
				d3.select("#pert_panel").html(d + "<br>" + pertDescrIname(getPertMetaData(p100_data.meta_col, d)));
		});

		// add row labels
		var th = $("<th>")
			.attr("id", pert_sel)
			.attr("class", "vertical-header-left")
			.appendTo(row);

		// Drug label
		var label_svg = d3.select("#" + pert_sel)
			.datum(pert_meta_data)
			.append("svg");

		var label_text = label_svg.append("text")
			.attr("class", "label")
			.attr("x", 10)
			.attr("y", 10)
			.text(pertDescrIname(pert_meta_data))
			.call(attrTip)  // initialized the attribute tip
			.on("mouseover", function(d) {
				attrTip.show(d);
			})
			.on("mouseout", function(d) {
				attrTip.hide();
			});

		// Trim svg element to boundary box
		trimSvg(label_svg);

		// Experimental conditions, inncer loop.
		for (var j = 0; j < p100_data.cell_order.length; j++) {
			// find data entry that satisfies both selections
			var cell_sel = p100_data.cell_order[j];
			var table_entry = $("<td>")
				.attr("class", "grid")
				.appendTo(row);

			// Bind cell line data to each table entry
			d3.selectAll(table_entry)
				.datum(cell_sel)
				.on("click", function(d) {
					d3.select("#cell_panel").html(d);
					}
				);

			// P100 canvas tiles.
			// Data entries that satisfies both selection constraints
			var p100_sel = applyTwice(
				p100_cell_ids.map(function(id) {return id === cell_sel}),
				p100_pert_ids.map(function(id) {return id === pert_sel}),
			 	and);

			if (p100_sel.indexOfAll(true).length > 1) {
				console.log("WARNING: multiple signatures found for ", cell_sel, " ", pert_sel, ". Only one shown.");
			}

			var p100_k = p100_sel.indexOf(true);  // find first occurence

			var svg_p100 = d3.selectAll(table_entry)
				.append("div")
					.attr("class", "border-container")
					.append("svg")
						.attr("width", tile_dim_px)
						.attr("height", tile_dim_px)
						.attr("class", "grid");

			if (p100_k !== -1) {
				// Data found
				var rects = svg_p100.selectAll(".cell")
					.data(buildGridData(p100_data.signatures[p100_k], p100_order, tile_dim_px))
					.enter().append("svg:rect")
					.attr("class", "rect-p100")
					.attr("x", function(d) {return(d.x);})
					.attr("y", function(d) {return(d.y);})
					.attr("width", function(d) {return(d.size);})
					.attr("height", function(d) {return(d.size);})
					.style("fill", function(d) {
							if (isNaN(d.num)) {
								return "white";
							} else {
								return(colorScale(d.num));
							}
						}
					)
					.call(tileTip)  // initialize tip function to svg element
					.on("click", function(d) {
						// Unselect previous selection in selection canvas.
						d3.selectAll(".selected")
							.classed("selected", false)
							.attr("style", function(d) {
								return("fill: " + monoScale(d.num) + ";");
							});

						// find legend grid of 
						d3.selectAll("#legend_1_" + d.feature_id)
							.classed("selected", true)
							.attr("style", function(d) {
								return("fill: rgb(31,120,180);")
							});

						// Update meta panel
						d3.select("#meta_panel1").html(
							p100_data.meta_row[d.feature_id + 1][2] + "<br>" +
							p100_data.meta_row[d.feature_id + 1][8]
							);
					})
					.on("mouseover", function(d) {
						tileTip.show(
							p100_data.meta_row[d.feature_id + 1][2] + ":" + p100_data.meta_row[d.feature_id + 1][8] + 
							"<br>mean_zscore = " + d.num.toPrecision(3));
					})
					.on("mouseout", function(d) {
						tileTip.hide();
					});
			}

			// GCP canvas tiles
			var gcp_sel = applyTwice(
				gcp_cell_ids.map(function(id) {return id === cell_sel}),
				gcp_pert_ids.map(function(id) {return id === pert_sel}),
			 	and)	;

			if (gcp_sel.indexOfAll(true).length > 1) {
				console.log("WARNING: multiple signatures found for ", cell_sel, " ", pert_sel, ". Only one shown.");
			}

			var gcp_k = gcp_sel.indexOf(true);  // find first occurence

			var svg_gcp = d3.selectAll(table_entry)
				.append("div")
					.attr("class", "border-container")
					.append("svg")
						.attr("width", tile_dim_px)
						.attr("height", tile_dim_px)
						.attr("class", "grid");

			if (gcp_k !== -1) {
				var rects = svg_gcp.selectAll(".cell")
					.data(buildGridData(gcp_data.signatures[gcp_k], gcp_order, tile_dim_px))
					.enter().append("svg:rect")
					// .attr("class", "cell")
					.attr("x", function(d) {return(d.x);})
					.attr("y", function(d) {return(d.y);})
					.attr("width", function(d) {return(d.size);})
					.attr("height", function(d) {return(d.size);})
					.style("fill", function(d) {
							if (isNaN(d.num)) {
								return "white";
							} else {
								return(colorScale2(d.num));
							}
						}
					)
					.call(tileTip)  // initialize tip function to svg element
					.on("mouseover", function(d) {
						tileTip.show(gcp_data.meta_row[d.feature_id + 1][3] +
							"<br> mean_zscore = " + d.num.toPrecision(3));
					})
					.on("mouseout", function(d) {
						tileTip.hide();
					})
					.on("click", function(d) {
						// Unselect previous selection in selection canvas.
						d3.selectAll(".selected")
							.classed("selected", false)
							.attr("style", function(d) {
								return("fill: " + monoScale(d.num) + ";");
							});

						// find legend grid of 
						d3.selectAll("#legend_2_" + d.feature_id)
							.classed("selected", true)
							.attr("style", function(d) {
								// return("fill: " + monoScale(d.num) + "; stroke: black; stroke-width: 2px;")
								return("fill: rgb(162,78,163);")
							});

						// Update meta panel
						d3.select("#meta_panel2").html(
							gcp_data.meta_row[d.feature_id + 1][3]);
					});
			}

		}

		// Cluster field of row
		// look up class
		var pert_ids = getColumn(pert_class, "pert_id");

		var pert_class_k = pert_ids.indexOf(pert_sel);

		row.append($("<th>")
			.attr("class", "vertical-header-right")
			.html(
				pert_class[pert_class_k+1][1]
				// pert_class[pert_class_k+1][1] + ",   " +
				// pert_class[pert_class_k+1][2] + ",   " +
				// pert_class[pert_class_k+1][3]
		));
	}

	// Sticky sidebar. Find top of html page.
	sticky_top = $("#sidebar").offset().top;
});


// Scroll callback function. For fixed user interfaces.
$(window).scroll(function() {
	var window_top = $(window).scrollTop();

	if (sticky_top < window_top) {
		$("#sidebar").css({position: "fixed", top: 0});
	} else {
		$("#sidebar").css("position", "absolute");
	}
});
</script>

<div class="container" role="main" id="main">
	<h1>Mosaic visualization of targeted phosphoproteomics and post-translation histone modifications after chemical perturbation of cancer cell lines</h1>
	<br>
	<!-- <hr> -->
	<div class="container">
		<div class="row">

			<div class="col-xs-12 col-sm-7 col-md-6">
				<div class="panel panel-default">
						<div class="panel-heading">Description</div>
					 	<div class="panel-body">
					 		<p>Data are generated by on the Broad's <a href="https://panoramaweb.org/labkey/project/LINCS/begin.view">LINCS P100 and GCP platforms</a> and analyzed using a within-plate z-score. Triplicate z-score signatures are averaged. The layout of the tiles/canvases is determined by a simulated annealing algorithm (<a href="http://www.maayanlab.net/N2C">Network2Canvas</a>). The algorithm attempts to position post-translational modification measurements based on expression similarity across samples and conditions. The location of the post-translational modifications on all cavases is fixed. Both cell lines (columns) and chemical perturbagens (rows) are ordered by hierarchical clustering taking into account both the P100 and GCP data.</p>
					 		<p>For each of the data panels, on the left are the <b>P100</b> (100 phosphosites) signatures where <span class="red">red</span> represents up regulation compared to the plate and <span class="blue">blue</span> is down regulation. On the right are the <b>GCP</b> (global chromatin profiling assay) signatures where <span class="green">green</span> represents up and <span class="purple">purple</span> down.</p>
					 	</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-5 col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">Access data</div>

					<div class="panel-body">
						<p>In standardized .csv format. Main data are stored in matrices (MS peptides in rows and experimental conditions in columns). Associated metadata for the rows and columns are stored in seperate tables. The dimensions of the metadata tables match the main data matrices. Missing data are encoded by NA.
						</p>

						<div class="panel panel-default">
							<div class="panel-heading">.csv files</div>
							<div class="panel-body">
								<table class="table table-condensed">
									<thead>
										<tr>
											<th>P100</th>
											<th>GCP</th>
										</tr>
									</thead>
									<tbody >
										<tr>
											<td>
												<a href="p100mosaic/static/stdData/p100_data.csv" target="_blank">main data <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
											</td>
											<td>
												<a href="p100mosaic/static/stdData/gcp_data.csv" target="_blank">main data <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
											</td>
										</tr>
										<tr>
											<td>
												<a href="p100mosaic/static/stdData/p100_meta_col.csv" target="_blank">column metadata <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
											</td>

											<td>
												<a href="p100mosaic/static/stdData/gcp_meta_col.csv" target="_blank">column metadata <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
											</td>
										</tr>
										<tr>
											<td>
												<a href="p100mosaic/static/stdData/p100_meta_row.csv" target="_blank">row metadata <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
											</td>

											<td>
												<a href="p100mosaic/static/stdData/gcp_meta_row.csv" target="_blank">row metadata <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>
											</td>
										</tr>
									</tbody>
								</table>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
		 	<h2>Mosaic visualization</h2>
		 	<p class="text-muted">Hover or click on tiles for more information. Note that tooltips may not work properly in Safari and IE.</p>
			<div class="col-xs-1">
				<div id="sidebar"></div>
			</div>

			<div class="col-xs-11">
				<table id="svg-table"></table>
			</div>

		</div>
	</div>
</div>

<footer class="footer panel-footer">
	<div class="container text-center">
		<p class="text-muted">Developed by the <a href="http://icahn.mssm.edu/research/labs/maayan-laboratory">Ma'ayan laboratory</a>.</p>
	</div>
</footer>

</body>
</html>